body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.editor {
  width: 820px;
  height: 160px;
  background-color: #ffffff;
  padding: 2px;
  border: 1px solid #999;
  overflow-x: hidden;
  overflow-y: auto;
}

.editor:focus {
  outline: none;
}

.image {
  max-width: 150px;
  max-height: 150px;
}

.file-container {
  height: 75px;
  width: 405px;
  box-sizing: border-box;
  border: 1px solid rgb(208, 208, 208);
  padding: 13px;
  display: flex;
  justify-content: start;
  gap: 13px;
  background-color: #ffffff;
}
.file-container .image {
  height: 100%;
  object-fit: scale-down;
}
.file-container .title {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.controls {
  display: flex;
  gap: 27px;
  align-items: center;
}
.controls img {
  width: 27px;
  height: 27px;
  object-fit: cover;
  cursor: pointer;
}
